.breadcrumbs
  = link_to 'all projects', admin_projects_path
  >
  = link_to @project.name, [:admin, @project]
  >
  new masterpiece

.h1 New Masterpiece

= render 'form'

%br

= link_to 'back to project', [:admin, @project]
