body
  background: #000
  font-family: arial

#header
  background: url(/images/header-background.png) center 0 no-repeat #000
  height: 100px
  .title
    float: left
    font-size: 40px
    font-weight: bold
    margin-top: 30px
    a
      color: #fff
      text-decoration: none
  .signupinout
    color: #fff
    float: right
    margin-top: 40px
    a
      color: #fff
      font-size: 20px
      font-weight: bold

#content
  background: #fff
  padding-top: 20px
  padding-bottom: 60px

  .notice
    color: #006600
    font-weight: bold
  .alert
    color: red
    font-weight: bold
    
  .h1
    font-size: 40px
    font-weight: bold
    margin: 20px 0px
  .h2
    font-size: 30px
    font-weight: bold
    margin: 18px 0px
  a
    color: #00e
  textarea
    border: 1px solid #ccc
    height: 200px
    width: 100%
  label
    display: block
  .title
    font-size: 30px
  .field
    margin-bottom: 20px

  .table
    .header
      font-weight: bold
      font-size: 16px
    .records
      overflow: auto
      padding: 6px 0px
      .record
        overflow: auto
        padding: 10px 0px
        .subrecords
          margin-top: 2px
          .thumbs
            display: inline
          .count
            display: inline
            font-size: 12px
            font-weight: bold
    .records.sortable
      cursor: move

  .button_to
    display: inline
    div
      display: inline
    .delete
      background: none
      border: none
      color: #00e
      cursor: pointer
      font-size: inherit
      margin: 0px
      padding: 0px
      text-decoration: underline
  .zebra
    background: #f0f0f0

#projects
  .name
    font-size: 20px


/*#footer
  background: #000
  position: fixed
  height: 40px
  bottom: 0px
  left: 0px
  right: 0px
