body {
  font-family: arial; }

#header {
  background: url(/images/header-background.png) center 0 no-repeat black;
  height: 100px; }
  #header .title {
    float: left;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px; }
    #header .title a {
      color: white;
      text-decoration: none; }
  #header .signupinout {
    color: white;
    float: right;
    margin-top: 40px; }
    #header .signupinout a {
      color: white;
      font-size: 20px;
      font-weight: bold; }

#content {
  margin-top: 20px;
  margin-bottom: 40px; }
  #content .alert {
    color: red;
    font-weight: bold; }
  #content .h1 {
    font-size: 40px;
    font-weight: bold;
    margin: 20px 0px; }
  #content .h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 18px 0px; }
  #content a {
    color: #0000ee; }
  #content textarea {
    border: 1px solid #cccccc;
    height: 200px;
    width: 100%; }
  #content label {
    display: block; }
  #content .title {
    font-size: 30px; }
  #content .field {
    margin-bottom: 20px; }
  #content .table .header {
    font-weight: bold;
    font-size: 16px; }
  #content .table .records {
    overflow: auto;
    padding: 6px 0px; }
    #content .table .records .record {
      overflow: auto;
      padding: 10px 0px; }
      #content .table .records .record .subrecords {
        margin-top: 2px; }
        #content .table .records .record .subrecords .thumbs {
          display: inline; }
        #content .table .records .record .subrecords .count {
          display: inline;
          font-size: 12px;
          font-weight: bold; }

#projects .name {
  font-size: 20px; }
