.content
  .title Kazanie
  .status
    - if user_signed_in?
      hi
      = current_user.email
      not you?
      = link_to 'sign out', destroy_user_session_path
    - else
      = link_to 'sign in', new_user_session_path
      or
      = link_to 'sign up', new_user_registration_path
