<script id="mini-masterpiece-view" type="text/html">
  <div class="title">
    <div class="text">{{ title }}</div>
  </div>
  <img src="{{ miniurl }}" height="200" />
</script>

<script id="masterpiece-view" type="text/html">
  <div id="masterpiece-image" style="height: {{adjheight}}px; width: {{adjwidth}}px;">
    <div id="focals">
      <img src="{{ url }}" height="{{adjheight}}" width="{{adjwidth}}" />
    </div>
  </div>
</script>

<script id="slider-view" type="text/html">
  <table class="slider">
    <tr>
      <td class="button left"></td>
      <td>
        <div id="minis-wrapper">
          <div id="minis"></div>
        </div>
      </td>
      <td class="button right"></td>
    </tr>
  </table>
</script>

<script id="sider-view" type="text/html">
  <div class="content">
    <div class="title">{{ title }}</div>
    <div class="text">{{{ text }}}</div>
  </div>
</script>

<script id="focal-view" type="text/html">
   
</script>

<script id="focaliderel-view" type="text/html">
</script>


